@import "variables.scss";

p, h1 {
  color: $light-grey;
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;

  .header {
    width: 100%;
    height: 10vh;
    background-color:  $dark-grey;
    border-bottom: 1px solid $darker-grey;

    p {
      margin: 0;
      line-height: 10vh;
      padding-left: 40px;
      font-size: 25px;
      display: inline-block;
    }

    button {
      margin-left: 40px;
    }

    .pull-button {
      position: absolute;
      left: 60%;
      margin-left: -40px;

      padding-top: 13px;
      width: 80px;
      height: 60px;
      display: inline-block;
    }

    .push-button {
      position: absolute;
      left: 50%;
      margin-left: -40px;

      padding-bottom: 13px;
      width: 80px;
      height: 60px;
      transform: rotate(180deg);
      display: inline-block;
    }
  }

  .file-panel {
    width: 20%;
    height: 80vh;
    background-color: $dark-grey;
    float: left;

    .modified-files-message {
      padding: 20px;
    }

    :hover {
      opacity: 0.8;
    }

    .file {
      width: 100% - 1;
      height: 10%;
      position: relative;
      overflow: hidden;
      border: 1px solid $white;

      p {
        color: $white;
        display: inline-block;
        vertical-align: middle;
        margin-left: 10px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 90%;
      }
    }
  }

  .body-panel {
    width: 80%;
    height: 80%;
    float: right;

    .diff-panel {
      width: 50%;
      height: 100%;
      float: left;
      background-color: $white;
    }

    .graph-panel {
      width: 50%;
      float: right;

      .network {
        width: 100%;
        height: 80vh;
        margin: 0;
        padding: 0;
        background-color: $darker-grey;
      }
    }
  }

  .add-repository-panel {
    position: absolute;
    height: 80vh;
    width: 100%;
    background-color: $darker-grey;
    padding-left: 110px;
    z-index: -10;
    box-sizing: border-box;

    h1 {
      color: white;
    }

    p {
      display: inline-block;
      margin-right: 20px;
    }

    input {
      display: inline-block;
      margin-right: 20px;
      border-radius: 10px;
      border: 0;
      height: 10px;
      padding: 10px;
    }

    button {
      display: inline-block;
      height: 30px;
      border-radius: 10px;
      border: 0;
      padding: 0 15px;
      background-color: $green;
      color: $white;
    }
  }

  .footer {
    width: 100%;
    height: 10vh;
    background-color: $dark-grey;
    border-top: 1px solid $darker-grey;
    position: fixed;
    bottom: 0;

    p {
      margin: 0;

    }

    .git-command {
      margin: 10px;
    }
  }
}

.file-created {
  background-color: $file-created;
}

.file-modified {
  background-color: $file-modified;
}

.file-deleted {
  background-color: $file-deleted;
}
