
@import "variables.scss";

p, h1 {
  color: $light-grey;
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;

  .header {
    width: 100%;
    height: 10vh;
    background-color:  $dark-grey;
    border-bottom: 1px solid $darker-grey;

    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.4);
    }

    .modal:hover {
      opacity: 1;
    }

    /* Modal Content/Box */
    .modal-content {
        background-color: $dark-grey;
        margin: 30% auto;
        padding: 20px;
        border: 3px solid $teal;
        width: 40%;
        border-radius: 10px;

        .close {
          opacity: 0.7;
        }

        .close:hover {
          opacity: 1;
        }

        p {
          font-size: 16px;
          line-height: 130%;
          padding-left: 0px;
          display: inline-block;

        }
    }

    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover, .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

    p {
      margin: 0;
      line-height: 10vh;
      font-size: 25px;
      display: inline-block;
    }

    .add-repository-button {
      margin-left: 40px;
      vertical-align: middle;
      margin-bottom: 10px;
      opacity: 0.7;
    }

    .add-repository-button:hover {
      opacity: 1;
    }

    .right-arrow {
      padding-left: 10px;
      padding-bottom: 5px;
      opacity: 0.7;
      vertical-align: middle;
    }

    .pull-button {
      position: absolute;
      left: 60%;
      margin-left: -40px;
      opacity: 0.7;
      padding-top: 5px;
      width: 80px;
      height: 60px;
      display: inline-block;
    }

    .pull-button:hover {
      opacity: 1.0;
    }

    .pull-button:active {
      -webkit-filter:brightness(30%);
    }

    .push-button {
      position: absolute;
      left: 50%;
      margin-left: -40px;
      opacity: 0.7;
      padding-top: 5px;
      width: 80px;
      height: 60px;
      display: inline-block;
    }

    .push-button:hover {
      opacity: 1.0;
    }

    .push-button:active {
      -webkit-filter:brightness(30%);
    }
  }

  .file-panel {
    width: 20%;
    height: 75vh;
    background-color: $dark-grey;
    float: left;

    .modified-files-header {

      .select-all-message {
        width: 77.5%;
        display: inline-block;
        margin-left: 10px;
        vertical-align:middle;
      }

      .select-all-checkbox {

      }
    }

    .files-changed {

      .modified-files-message {
        padding: 20px;
      }

      // :hover {
      //   opacity: 0.8;
      // }

      .file {
        width: 100% - 1;
        height: 10%;
        position: relative;
        overflow: hidden;
        border: 1px solid $white;

        p {
          color: $white;
          display: inline-block;
          vertical-align: middle;
          margin-left: 10px;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          width: 80%;
        }

        input {
          vertical-align:middle;
        }
      }

      .file:hover {
        opacity: 0.8;
      }
    }

    .commit-panel {

      .commit-message-input {
        resize: none;
        width: 90%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        margin-bottom: 5px;
        height: 50px;
        border-radius: 5px;
        padding: 5px;
      }

      .commit-button {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        height: 30px;
        border-radius: 10px;
        border: 0;
        padding: 0 15px;
        background-color: $teal;
        color: $white;
      }

      .commit-button:hover {
        opacity: 0.8;
      }
    }

  }

  .body-panel {
    width: 80%;
    height: 80%;
    float: right;

    .diff-panel {
      width: 0;
      height: 100%;
      float: left;

      .diff-panel-body {
        width: 90%;
        height: 75vh;
        float: left;
        background-color: $dark-grey;
        color: $white;
        overflow-y: scroll;
        outline: 1px solid $darker-grey;

        div {
          padding: 1px 5px 1px 5px;
          white-space: pre;
          font-family: monospace;
        }
      }

      .diff-panel-minimise {
        width: 10%;
        float: right;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $dark-grey;
        visibility: hidden;
      }

      .diff-panel-minimise:hover {
        background-color: $dark-grey-hover;
      }

    }

    .graph-panel {
      width: 100%;
      float: right;

      .network {
        width: 100%;
        height: 75vh;
        margin: 0;
        padding: 0;
        background-color: $darker-grey;
      }
    }
  }

  .user-auth {
    position: absolute;
    height: 75vh;
    width: 100%;
    background-color: $darker-grey;
    z-index: 20;
    box-sizing: border-box;
  }

  .add-repository-panel {
    position: absolute;
    height: 75vh;
    width: 100%;
    background-color: $darker-grey;
    z-index: -10;
    box-sizing: border-box;

    .add-repository-body {
      padding-left: 110px;
    }

    .back-button {
      float: left;
      position: absolute;
      padding: 15px;
      opacity: 0.7;
    }

    .back-button:hover {
      opacity: 1;
    }

    h1 {
      color: white;
    }

    .open-local-repo {
      margin-top: 70px;
    }

    p {
      display: inline-block;
      margin-right: 20px;
    }

    input {
      display: inline-block;
      margin: 15px 30px;
      border-radius: 10px;
      border: 0;
      height: 10px;
      size: 50;
      padding: 10px;
    }

    .button-clone, .button-open {
      display: inline-block;
      height: 30px;
      border-radius: 10px;
      border: 0;
      padding: 0 15px;
      margin: 15px 40px;
      margin-left: 10px;
      background-color: $teal;
      color: $white;
      float: right;
    }

    .button-clone:hover, .button-open:hover {
      opacity: 0.8;
    }

    .title {
      width: 100%;

      .clone-title {
        margin-top: 20px;
      }
    }

    .block {
      width: 100%;
      height: 60px;

      p {
        display: inline-block;
        margin: 15px 0px;
      }
    }

    .left {
      float: left;
      width: 22%;
      height: 100%;
    }

    .right {
      float: left;
      width: 50%;
      height: 100%;

      .button {
        height: 100%;
      }
    }
  }

  .footer {
    width: 100%;
    height: 15vh;
    background-color: $dark-grey;
    border-top: 1px solid $darker-grey;
    position: fixed;
    bottom: 0;
    overflow-y: scroll;

    p {
      margin: 0;

    }

    .git-command {
      margin: 10px;
    }
  }
}

.file-created {
  background-color: $file-created;
}

.file-modified {
  background-color: $file-modified;
}

.file-deleted {
  background-color: $file-deleted;
}
