p, h1 {
  color: #ccc;
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
}

body .header {
  width: 100%;
  height: 10vh;
  background-color: #282828;
  border-bottom: 1px solid #181818;
  /* The Modal (background) */
  /* Modal Content/Box */
  /* The Close Button */
}

body .header .modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

body .header .modal-content {
  background-color: #282828;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
  /* Could be more or less, depending on screen size */
}

body .header .modal-content p {
  font-size: 16px;
  line-height: 130%;
  padding-left: 0px;
  display: inline-block;
}

body .header .close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

body .header .close:hover,
body .header .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

body .header p {
  margin: 0;
  line-height: 10vh;
  padding-left: 40px;
  font-size: 25px;
  display: inline-block;
}

body .header button {
  margin-left: 40px;
}

body .header .pull-button {
  position: absolute;
  left: 60%;
  margin-left: -40px;
  opacity: 0.7;
  padding-top: 13px;
  width: 80px;
  height: 60px;
  display: inline-block;
}

body .header .pull-button:hover {
  opacity: 1.0;
}

body .header .pull-button:active {
  -webkit-filter: brightness(30%);
}

body .header .push-button {
  position: absolute;
  left: 50%;
  margin-left: -40px;
  opacity: 0.7;
  padding-bottom: 13px;
  width: 80px;
  height: 60px;
  transform: rotate(180deg);
  display: inline-block;
}

body .header .push-button:hover {
  opacity: 1.0;
}

body .header .push-button:active {
  -webkit-filter: brightness(30%);
}

body .file-panel {
  width: 20%;
  height: 80vh;
  background-color: #282828;
  float: left;
}

body .file-panel .modified-files-header .select-all-message {
  width: 77.5%;
  display: inline-block;
  margin-left: 10px;
  vertical-align: middle;
}

body .file-panel .files-changed .modified-files-message {
  padding: 20px;
}

body .file-panel .files-changed :hover {
  opacity: 0.8;
}

body .file-panel .files-changed .file {
  width: 99%;
  height: 10%;
  position: relative;
  overflow: hidden;
  border: 1px solid #fff;
}

body .file-panel .files-changed .file p {
  color: #fff;
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 80%;
}

body .file-panel .files-changed .file input {
  vertical-align: middle;
}

body .file-panel .commit-panel .commit-message-input {
  resize: none;
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 5px;
  height: 50px;
}

body .file-panel .commit-panel .commit-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

body .body-panel {
  width: 80%;
  height: 80%;
  float: right;
}

body .body-panel .diff-panel {
  width: 0;
  height: 100%;
  float: left;
}

body .body-panel .diff-panel .diff-panel-body {
  width: 90%;
  height: 100%;
  float: left;
  background-color: #fff;
  overflow: scroll;
}

body .body-panel .diff-panel .diff-panel-minimise {
  width: 10%;
  float: right;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #282828;
}

body .body-panel .diff-panel .diff-panel-minimise:hover {
  background-color: #ccc;
}

body .body-panel .graph-panel {
  width: 100%;
  float: right;
}

body .body-panel .graph-panel .network {
  width: 100%;
  height: 80vh;
  margin: 0;
  padding: 0;
  background-color: #181818;
}

body .add-repository-panel {
  position: absolute;
  height: 80vh;
  width: 100%;
  background-color: #181818;
  padding-left: 110px;
  z-index: -10;
  box-sizing: border-box;
}

body .add-repository-panel h1 {
  color: white;
}

body .add-repository-panel p {
  display: inline-block;
  margin-right: 20px;
}

body .add-repository-panel input {
  display: inline-block;
  margin: 15px 30px;
  border-radius: 10px;
  border: 0;
  height: 10px;
  size: 50;
  padding: 10px;
}

body .add-repository-panel button {
  display: inline-block;
  height: 30px;
  border-radius: 10px;
  border: 0;
  padding: 0 15px;
  margin: 15px 40px;
  margin-left: 10px;
  background-color: #84db00;
  color: #fff;
  float: right;
}

body .add-repository-panel .title {
  width: 100%;
}

body .add-repository-panel .block {
  width: 100%;
  height: 60px;
}

body .add-repository-panel .block p {
  display: inline-block;
  margin: 15px 0px;
}

body .add-repository-panel .left {
  float: left;
  width: 22%;
  height: 100%;
}

body .add-repository-panel .right {
  float: left;
  width: 50%;
  height: 100%;
}

body .add-repository-panel .right .button {
  height: 100%;
}

body .footer {
  width: 100%;
  height: 10vh;
  background-color: #282828;
  border-top: 1px solid #181818;
  position: fixed;
  bottom: 0;
}

body .footer p {
  margin: 0;
}

body .footer .git-command {
  margin: 10px;
}

.file-created {
  background-color: #84db00;
}

.file-modified {
  background-color: #ff7514;
}

.file-deleted {
  background-color: #ff2448;
}
