
@import "variables.scss";

p, h1 {
  color: $light-grey;
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;

  .header {
    width: 100%;
    height: 10vh;
    background-color:  $dark-grey;
    border-bottom: 1px solid $darker-grey;

    p {
      margin: 0;
      line-height: 10vh;
      padding-left: 40px;
      font-size: 25px;
      display: inline-block;
    }

    button {
      margin-left: 40px;
    }

    .pull-button {
      position: absolute;
      left: 60%;
      margin-left: -40px;
      opacity: 0.7;

      padding-top: 13px;
      width: 80px;
      height: 60px;
      display: inline-block;
    }

    .pull-button:hover {
      opacity: 1.0;
    }

    .pull-button:active {
      -webkit-filter:brightness(30%);
    }

    .push-button {
      position: absolute;
      left: 50%;
      margin-left: -40px;
      opacity: 0.7;

      padding-bottom: 13px;
      width: 80px;
      height: 60px;
      transform: rotate(180deg);
      display: inline-block;
    }

    .push-button:hover {
      opacity: 1.0;
    }

    .push-button:active {
      -webkit-filter:brightness(30%);
    }
  }

  .file-panel {
    width: 20%;
    height: 80vh;
    background-color: $dark-grey;
    float: left;

    .modified-files-header {

      .select-all-message {
        width: 77.5%;
        display: inline-block;
        margin-left: 10px;
        vertical-align:middle;
      }

      .select-all-checkbox {

      }
    }

    .files-changed {

      .modified-files-message {
        padding: 20px;
      }

      :hover {
        opacity: 0.8;
      }

      .file {
        width: 100% - 1;
        height: 10%;
        position: relative;
        overflow: hidden;
        border: 1px solid $white;

        p {
          color: $white;
          display: inline-block;
          vertical-align: middle;
          margin-left: 10px;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          width: 80%;
        }

        input {
          vertical-align:middle;
        }
      }
    }

    .commit-panel {

      .commit-message-input {
        resize: none;
        width: 90%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        margin-bottom: 5px;
        height: 50px;
      }

      .commit-button {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }

  }

  .body-panel {
    width: 80%;
    height: 80%;
    float: right;

    .diff-panel {
      width: 0;
      height: 100%;
      float: left;

      .diff-panel-body {
        width: 90%;
        height: 100%;
        float: left;
        background-color: $white;
      }

      .diff-panel-minimise {
        width: 10%;
        float: right;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $dark-grey;
      }

      .diff-panel-minimise:hover {
        background-color: $light-grey;
      }

    }

    .graph-panel {
      width: 100%;
      float: right;

      .network {
        width: 100%;
        height: 80vh;
        margin: 0;
        padding: 0;
        background-color: $darker-grey;
      }
    }
  }

  .add-repository-panel {
    position: absolute;
    height: 80vh;
    width: 100%;
    background-color: $darker-grey;
    padding-left: 110px;
    z-index: -10;
    box-sizing: border-box;

    h1 {
      color: white;
    }

    p {
      display: inline-block;
      margin-right: 20px;
    }

    input {
      display: inline-block;
      margin: 15px 30px;
      border-radius: 10px;
      border: 0;
      height: 10px;
      size: 50;
      padding: 10px;
    }

    button {
      display: inline-block;
      height: 30px;
      border-radius: 10px;
      border: 0;
      padding: 0 15px;
      margin: 15px 40px;
      margin-left: 10px;
      background-color: $green;
      color: $white;
      float: right;
    }

    .title {
      width: 100%;
    }

    .block {
      width: 100%;
      height: 60px;

      p {
        display: inline-block;
        margin: 15px 0px;
      }
    }

    .left {
      float: left;
      width: 22%;
      height: 100%;
    }

    .right {
      float: left;
      width: 50%;
      height: 100%;

      .button {
        height: 100%;
      }
    }
  }

  .footer {
    width: 100%;
    height: 10vh;
    background-color: $dark-grey;
    border-top: 1px solid $darker-grey;
    position: fixed;
    bottom: 0;

    p {
      margin: 0;

    }

    .git-command {
      margin: 10px;
    }
  }
}

.file-created {
  background-color: $file-created;
}

.file-modified {
  background-color: $file-modified;
}

.file-deleted {
  background-color: $file-deleted;
}
