p, h1 {
  color: #ccc;
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
}

body .header {
  width: 100%;
  height: 10vh;
  background-color: #282828;
  border-bottom: 1px solid #181818;
}

body .header p {
  margin: 0;
  line-height: 10vh;
  padding-left: 40px;
  font-size: 25px;
  display: inline-block;
}

body .header button {
  margin-left: 40px;
}

body .file-panel {
  width: 20%;
  height: 80vh;
  background-color: #282828;
  float: left;
}

body .file-panel .modified-files-header .select-all-message {
  width: 77.5%;
  display: inline-block;
  margin-left: 10px;
  vertical-align: middle;
}

body .file-panel .files-changed .modified-files-message {
  padding: 20px;
}

body .file-panel .files-changed :hover {
  opacity: 0.8;
}

body .file-panel .files-changed .file {
  width: 99%;
  height: 10%;
  position: relative;
  overflow: hidden;
  border: 1px solid #fff;
}

body .file-panel .files-changed .file p {
  color: #fff;
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 80%;
}

body .file-panel .files-changed .file input {
  vertical-align: middle;
}

body .file-panel .commit-panel .commit-message-input {
  resize: none;
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 5px;
  height: 50px;
}

body .file-panel .commit-panel .commit-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

body .body-panel {
  width: 80%;
  height: 80%;
  float: right;
}

body .body-panel .diff-panel {
  width: 50%;
  height: 100%;
  float: left;
  background-color: #fff;
}

body .body-panel .graph-panel {
  width: 50%;
  float: right;
}

body .body-panel .graph-panel .network {
  width: 100%;
  height: 80vh;
  margin: 0;
  padding: 0;
  background-color: #181818;
}

body .add-repository-panel {
  position: absolute;
  height: 80vh;
  width: 100%;
  background-color: #181818;
  padding-left: 110px;
  z-index: -10;
  box-sizing: border-box;
}

body .add-repository-panel h1 {
  color: white;
}

body .add-repository-panel p {
  display: inline-block;
  margin-right: 20px;
}

body .add-repository-panel input {
  display: inline-block;
  margin-right: 20px;
  border-radius: 10px;
  border: 0;
  height: 10px;
  padding: 10px;
}

body .add-repository-panel button {
  display: inline-block;
  height: 30px;
  border-radius: 10px;
  border: 0;
  padding: 0 15px;
  background-color: #84db00;
  color: #fff;
}

body .footer {
  width: 100%;
  height: 10vh;
  background-color: #282828;
  border-top: 1px solid #181818;
  position: fixed;
  bottom: 0;
}

body .footer p {
  margin: 0;
}

body .footer .git-command {
  margin: 10px;
}

.file-created {
  background-color: #84db00;
}

.file-modified {
  background-color: #ff7514;
}

.file-deleted {
  background-color: #ff2448;
}
