$black: #000;
$white: #fff;
// $light-grey: #adafb2; - another good light grey color
$light-grey: #ccc;
$medium-grey: #828282;
$dark-grey: #282828;
$dark-grey-hover: #404040;
$darker-grey: #181818;
$green: #84db00;
$file-created: #84db00;
$file-modified: #ff7514;
$file-deleted: #ff2448;
$teal: #39c0ba;
